In [36]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [51]:
flights = pd.read_csv("flights.csv", usecols=['DAY','MONTH','YEAR','AIRLINE','ARRIVAL_DELAY','DEPARTURE_DELAY'])
month_filter = flights["MONTH"] == 2
day_filter1 = flights["DAY"] > 15
day_filter2 =  flights["DAY"] < 25
all_filters = day_filter1 & day_filter2 & month_filter
#c = a[month_filter]
flights = flights[all_filters]
flights = flights.rename(columns={'AIRLINE': 'airline'})
#flights.head()
#print(flights)

In [52]:
#date = flights['MONTH'] +' '+flights['YEAR'] 
flights['date'] = pd.to_datetime(flights[['YEAR', 'MONTH', 'DAY']])
#flights.drop(flights.columns[[0, 1, 2]], axis=1)
flights = flights.drop(["YEAR", "MONTH", "DAY"], axis=1)


flights.to_csv(r'flights_converted.csv')

flights.head()
#from dateutil import parser
#dt = parser.parse("Aug 28 1999 12:00AM")

#pd.to_datetime(flights['Mycol'])

       airline  DEPARTURE_DELAY  ARRIVAL_DELAY       date
695436      AA             -2.0           -4.0 2015-02-16
695437      DL             -6.0          -15.0 2015-02-16
695438      DL              5.0           24.0 2015-02-16
695439      US             -2.0          -19.0 2015-02-16
695440      AA              0.0           -6.0 2015-02-16

In [53]:
twitter = pd.read_csv("Tweets.csv",usecols=['airline_sentiment','airline','tweet_created'])
twitter['tweet_created'] = pd.to_datetime(twitter['tweet_created']).dt.date
twitter.head()

twitter['airline'].unique()
#b["airline_sentiment"].head()

array(['Virgin America', 'United', 'Southwest', 'Delta', 'US Airways',
       'American'], dtype=object)

In [54]:
import pandas as pd

#data = [['Austria', 'Germany', 'hob', 'Australia'], ['Spain', 'France', 'Italy', 'Mexico']]

#df = pd.DataFrame(data, columns = ['A','B','C','D'])

# Values to find and their replacements
replaceL = ['UA', 'AA', 'VX', 'WN','DL','US']
findL = ['United', 'American', 'Virgin America', 'Southwest','Delta','US Airways']

# Select column (can be A,B,C,D)
col = 'airline';

twitter = twitter.rename(columns={'tweet_created': 'date'})

# Find and replace values in the selected column
twitter[col] = twitter[col].replace(findL, replaceL)
twitter['airline'].unique()
twitter.head()

  airline_sentiment airline        date
0           neutral      VX  2015-02-24
1          positive      VX  2015-02-24
2           neutral      VX  2015-02-24
3          negative      VX  2015-02-24
4          negative      VX  2015-02-24

In [55]:
twitter.to_csv(r'twitter_converted.csv')

In [ ]:
dummy_data1 = {
        'id': ['1', '2', '3', '4', '5'],
        'Feature1': ['A', 'C', 'E', 'G', 'I'],
        'Feature2': ['B', 'D', 'F', 'H', 'J']}